<ion-header #header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-button shape="round">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-label>
        <h1 class="main-title">Instagram</h1>
      </ion-label>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" (click)="isLoaded()">
        <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
      </ion-button>
      <ion-button shape="round">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
      <ion-button shape="round">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="false" scrollEvents="true" (ionScroll)='onContentScroll($event)'>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <ion-header #subcontent class="ion-border">
    <ion-toolbar>
      <ion-title class="notification-title">Today notifications</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngIf="loaded">
    <ion-item detail="true" *ngFor="let show of details">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <ion-label>
        <h3>{{show}}</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore, ullam.</p>
        <p>02/04/22</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!loaded">
    <ion-item detail="true" *ngFor="let show of details">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3><ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text></h3>
        <p><ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text></p>
        <p><ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" horizontal="center" vertical="bottom" *ngIf="backToTop" (click)="gotToTop()">
    <ion-fab-button>
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>