//for scroll css startws
.subcontent-was-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header-was-sticky {
  top: -76px;
}

.header-not-sticky {
  top: 0;
}

.animated-delay {
  transition: 700ms;
}

//css
.custom-toolbar {
  --padding-top: 16px;
}

.notification-title {
  // margin-top: -10px;
  padding-left: 15px;

}

ion-title {
  padding: 0px;

  ion-label {
    .main-title {
      font-size: 24px;
      font-weight: 600;
      // margin: 0px !important;
      padding: 0px 0px 0px 5px;
      background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
  }
}

h1 {
  margin: 0px;
}


ion-fab-button::part(native) {
  background-color: #fec564;
  background-color: transparent(50);
  --background-activated-opacity: 12;
  --background-focused-opacity: 33.24 // opacity: 4;
    // border-radius: 15px;
    // box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .3), 0px 1px 3px 1px rgba(0, 0, 0, .15);
    // color: rgb(255, 255, 255);
    // height: 45px;
    // width: 45px;
    // margin-right: -10px;
    // margin-bottom: -10px;
}

ion-fab-button::part(native):hover::after {
  background-color: rgba(128, 128, 128, 0.463);
}

ion-fab-button::part(native):active::after {
  background-color: rgba(128, 128, 128, 0.463);
}